<div class="row">
  <div class="col s12">
    <form (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Select...</span>
          <div class="row">
            <div class="input-field col s12 m5">
              <league-select id="league" name="competition" [(currentLeague)]="league" [leagues]="competitions"></league-select>
              <label for="competition" class="active">Competition</label>
            </div>
            <div class="input-field col s8 m5">
              <datepicker id="start-date" name="start" [(date)]="start"></datepicker>
              <label for="start" class="active">Standings from...</label>
            </div>
            <div class="input-field col s4 m2 center-align">
              <button type="button" id="bdate" class="btn waves-effect" (click)="useOllisBirthday()">Olli</button>
            </div>
          </div>
        </div>
        <div class="card-action">
          <div class="right-align">
            <button type="submit" id="submit" class="btn btn-success waves-effect">Show standings</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
Competition: {{league | json}}<br/>
Start date: {{start}}<br/>
All leagues: {{competitions | json}}
