<div class="row">
  <div class="col s12">
    <form  (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Select...</span>
          <div class="row">
            <div class="input-field col s12 m5">
              <select id="league" name="competition" [(ngModel)]="selectedCompetition">
                <option *ngFor="let competition of competitions" [value]="competition.key">{{competition.name}}</option>
              </select>
              <label for="competition">Competition</label>
            </div>
            <div class="input-field col s8 m5">
              <input type="date" class="datepicker" id="start-date" name="start"/>
              <label for="start">Standings from...</label>
            </div>
            <div class="input-field col s4 m2 center-align">
              <button class="btn waves-effect" (click)="setOllisBirthday()">Olli</button>
            </div>
          </div>
        </div>
        <div class="card-action">
          <div class="right-align">
            <button type="submit" id="submit" class="btn btn-success waves-effect">Show standings</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
Competition: {{selectedCompetition | json}}<br/>
Start date: {{start}}<br/>
All leagues: {{competitions | json}}
